body {
    width: 37%;
    margin: 0 auto;
    overflow: scroll;
}

p {
    margin: 0;
}

.header {
    position: relative;
    height: 70px;
    background: white;
}

.logo {
    position: absolute;
    bottom: 0;
    left: 0;
}

.logo img {
    height: 50px;
}

.username {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

.username p {
    margin-bottom: 3px;
}

.menubar {
    border: solid black;
    border-width: 1px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#menu-order {
    font-size: 25px;
    display: inline-block;
    width: 33%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
}

#menu-history {
    font-size: 25px;
    display: inline-block;
    width: 33.6%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-left: solid black;
    border-right: solid black;
    border-width: 1px;
	cursor: pointer;
}

#menu-profile {
    font-size: 25px;
    display: inline-block;
    width: 33%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
	background: #465D43;
    color: white;
	cursor: pointer;
}

#profil {
	font-family: "Gill Sans MT";
	font-size: 37px;
	color: #272C1F;
}

#editprofil {
	font-family: "Gill Sans MT";
	font-size: 30px;
	color: #272C1F;
}

#edt {
	margin-top: 5px;
}

#prefer {
	font-family: "Gill Sans MT";
	font-size: 26px;
	color: #272C1F;
}

#ppicture {
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin: 30px auto 20px auto;
	display: block;
}

#editpicture {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	margin-top: 20px;
	margin-right: 20px;
}

.show-profile {
	font-family: "Times New Roman";
	font-size: 18px;
	color: #272C1F;
	text-align: center;
}

#rating {
	color: orange;
}

.go {
	display: flex;
	justify-content: space-between;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#update {
	font-family: "Cambria";
	font-size: 24px;
}

input[type=text], input[type=password]{
    width: 65%;
    padding: 7px 20px;
	margin-bottom: 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#uploadFile{
    width: 40%;
    padding: 4px 20px;
	margin-top: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=file]{
	margin-top: 10px;
}

#ed {
	font-family: "Arial";
	font-size: 20px;
	color: #2E424B;
}

button {
	font-family: "Times New Roman";
	width: 80px;
	padding: 5px 7px;	
	font-size: 18px;
	color: black;
	border: 2px solid black;
	border-radius: 10px;
}

#back {
	background-color: red;
}

#save {
	background-color: #83D803;
}

.stl {
	font-family: "Times New Roman";
	font-size: 17px;
	color: #272C1F;
}

li:before {
  margin: -5em auto auto -2em;
  content: "\25B6";
}